*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #e4e4e4;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80)
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 53, 53);
}

/* ScrollBar */

a {
    text-decoration: none;
    text-transform: none;
    color: rgb(255, 255, 255);
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(143,0,168);
    background: linear-gradient(357deg, rgba(143,0,168,1) 0%, rgba(120,17,162,1) 41%, rgba(176,0,223,1) 100%, rgba(103,16,138,1) 100%);
    cursor: default;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(34, 34, 34);
    width: 100%;
    font-size: 30px;
    -webkit-box-shadow: 0px 0px 14px 2px #000000; 
    box-shadow: 0px 0px 14px 2px #000000;
}

.siteName {
    text-align: left;
    align-items: left;
    font-weight: 700;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.siteName:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

.clock {
    text-align: right;
    align-items: right;
    padding: 10px;
    justify-content: flex-end;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.menu {
    margin: 25px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: repeat(2, 50px);
}

button {
    outline: none;
    border: none;
    padding: 2px;
    margin: 1px;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
}

button:hover, button:active {
    outline: none;
    border: none;
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

.option {
    opacity: 0.9;
}

.content {
    background-color: rgb(34, 34, 34);
    -webkit-box-shadow: 0px 0px 14px 2px #000000; 
    box-shadow: 0px 0px 14px 2px #000000;
}


.photo {
    margin-bottom: 20px;
    width: 22%;
    margin: 0px 25px 25px 25px;
}

.gallery {
    padding: 25px;
    justify-content:space-between;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.gallery img {
    width: 100%;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 14px 4px #000000; 
    box-shadow: 0px 0px 14px 4px #000000;
    filter: brightness(85%);
    transition: all 0.2s ease-in-out;
}

.gallery img:hover {
    filter: brightness(105%);
}

.source {
    text-align: left;
    padding: 10px;
    font-style: italic;
}

.link {
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    color: rgb(231, 231, 231);
    letter-spacing: 1px;
    width: 100%;
    padding: 5px;
}

.link:hover {
    background-color: rgb(185, 16, 201);
}

.footer {
    background-color: rgb(34, 34, 34);
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-top: 50px;
    -webkit-box-shadow: 0px 0px 14px 2px #000000; 
    box-shadow: 0px 0px 14px 2px #000000;
}

button.starterButton {
    margin: 0;
    width: 50%;
    padding:5px;
}

button.galleryButton {
    margin-left: -7.3px;
    width: 50%;
    padding:5px;
}

.article {
    padding: 50px;
    display: default;
}

.articleTitle {
    font-size: 72px;
    font-weight: 700;
}

.articleContent {
    font-size: 28px;
    text-indent: 10%;
}

.articleContent img {
    margin: 10px 10px 10px 0px;
    border: 4px solid white;
}

.author {
    text-align: right;
    padding: 10px;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 28px;
}
