.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#game {
    width: 80%;
    margin-left: 10%;
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;
}

#counter {
    margin-top: 20px;
    margin-right: 40px;
    color: white;
    font-weight: 600;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    top: 0px;
    opacity: 0;
    position: relative;
    top: -55px;
} 

#stage {
    text-shadow: 2px 2px black;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 36px;
    letter-spacing: 5px;
    font-family: 'Tourney', cursive;
    margin-top: 5px;
    position: relative;
    opacity: 0;
}

.endCounter {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: -180px;
    margin-left: 50px;
}

#character {
    height: 80px;
    width: 80px;
    position: relative;
    top: 400px;
    left: 228px;
    opacity: 0;
}

#character img {
    height: 80px;
    width: 80px;
}
.jumpAnimation {
    animation: jump 700ms linear;
}

#obstacle {
    height: 150px;
    width: 150px;
    position: relative;
    top: 250px;
    left: 1400px;
    opacity: 0;
}

.obstacleAnimation {
    animation: obstacle 1.5s infinite linear;
}

.obstacleAnimation2 {
    animation: obstacle 1.3s infinite linear;
}

.obstacleAnimation3 {
    animation: obstacle 0.9s infinite linear;
}

.obstacleAnimation4 {
    animation: obstacle 0.75s infinite linear;
}


#obstacle img {
    height: 150px;
    width: 150px;
}

@keyframes obstacle {
    0%{left: 90%; opacity: 0.2;}
    10%{opacity: 1.0;}
    95%{opacity: 1.0;}
    100%{left: -2%; opacity: 0.2;}
}


@keyframes obstacleHard {
    0%{left: 90%; opacity: 0.2;}
    10%{opacity: 1.0;}
    85%{top: 100px; opacity: 1.0;}
    98%{top: 250px; opacity: 1,0;}
    100%{left: -2%; opacity: 0.2;}
}

@keyframes obstacleHard2 {
    0%{left: 90%; opacity: 0.2;}
    10%{opacity: 1.0;}
    60%{top: 100px; opacity: 1.0;}
    75%{top: 250px; opacity: 1,0;}
    98%{top: 250px; opacity: 1,0;}
    100%{left: -2%; opacity: 0.2;}
}

@keyframes jump {
    0%{top: 400px;}
    30%{top: 180px;}
    60%{top: 170px;}
    90%{top: 400px;}
}

#gameMenu {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
}

#charPosition {
    border: 2px solid white;
    padding: 20px;
    width: 300px
}

#obstPosition {
    border: 2px solid white;
    padding: 20px;
    width: 300px
}

.title {
    padding: 0px 0px 10px 0px;
    font-weight: 900;
}

.position:nth-child(2) {
    margin-left: 50px;
}

.instruction {
    margin-left: 10%;
    width: 80%;
}

.instruction span {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}
